
/**** Header Styles ****/

.headerTitle {
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-size: 55px;
}

.navLinks {
	padding: 10px;
}

.navLinks td {
	padding-left: 15px
} 

/**** Footer Styles ****/

footer {
	text-align: center;
}

footer table {
	width: 100%;
	margin-top: 15px;
}

footer td {
	padding: 5px;
}

/**** Link Styles ****/

a:visited {
	color: tomato;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

.nav-pills {
	margin-left: 15px;
}


/**** Font Styles ****/

.jumbotron {
	margin-bottom: 40px;
}

.glyphicon-home {
	font-size: 16px;
	width: 23px;
	text-align: center;
}

/**** Carosel styles ****/

#carousel {
 	height: 165px;
	background-color: #3F9FBF;
}
.item {
	text-align: center;
	padding-top: 7px;
	margin-top: 10px;
	color: #aa1a13
}




