* {
	text-align: center;
	font-family: sans-serif;
}

.luckySevens {
	margin-top: 100px;
}

button {
	margin-top: 15px;
	width: 6em;
	height: 2.5em;
	font-size: 1.5em;
}

input {
	height: 1.3em;
	text-align: left;
	font-size: 15px;
	margin-left: 15px;
	width: 100px;
}

.exp {
	background-color: #eaeaea;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	height: 280px
}

table {
	
	background-color: #eaeaea;
	margin-top: 20px;
	padding-bottom: 35px;
	border-collapse: collapse;
	margin: auto;
	margin-top: 20px;
	width: 260px
}

tr {
	height: 50px;
}

th {
	font-size: 30px;
 	text-decoration: underline;
	padding-top: 13px;
	padding-bottom: 10px;
}

td {
	border: solid white 2px;
	text-align: left;
	
}

.left {
	width: 60%;
}

.betTable {
	font-weight: bold;
	background-color: #cacaca
}

.right, .left {
	padding-left: 4px;
}

