/**** Header Styles ****/

.headerTitle {
	text-align: center;
}

.navLinks {
	padding: 10px;
}

.navLinks td {
	padding-left: 15px
} 

/**** Footer Styles ****/

footer {
	text-align: center;
}

footer table {
	width: 100%;
	margin-top: 15px;
}

footer td {
	padding: 5px;
}
























