/***** Style for album information *****/

.albumInfo {
	text-align: center;
}

/***** Font styles *****/

#albumTitle {
	font-size: 3em;
	font-weight: bold;
}

#bandLink {
	font-size: 1.5em;
}

#releaseDate {
	font-size: 1.14em;
}

caption {
	font-size: 1.4em
}

.tracksTable caption {
	font-size: 1.76em;
}

/**** Table styles ****/

.membersTable {
	border: none;
	width: 80%;
}

.tracksTable {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

  /**** Table borders ****/

.tracksTable, .tracksTable td   {
	border: 1px solid black;
	
}

/**** center .tracksTable td ****/

.tracksTable td {
	text-align: center;
	
}

