/***** Style for album information *****/

.albumInfo {
	text-align: center;
}

/***** Font styles *****/

#albumTitle {
	font-size: 3em;
	font-weight: bold;
}

#bandLink {
	font-size: 1.5em;
}

#releaseDate {
	font-size: 1.14em;
}

caption {
	font-size: 1.4em
}

.table caption {
	font-size: 1.76em;
}

.table td {
	font-style: italic;
}

/**** Table styles ****/

.membersTable {
	border: none;
	width: 80%;
}

.table {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

.table tr:nth-child(even) {
	background-color: rgb(55, 200, 225);
}

.table tr:nth-child(odd) {
	background-color: rgb(218, 0, 16);
}

  /**** Table borders ****/

.table, .table td   {
	border: none;
	
}

.table th {
	background-color: rgb(253, 197, 0);
	height: 45px;
}

.table td {
	height: 45px;
}

/**** center .tracksTable td ****/

.table td {
	text-align: center;
	
}

/**** link styles ****/

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: rgb(55, 200, 225);
	color: rgb(218, 0, 16);
}

